<div id="author-info">
    <img alt="author profile picture" class="avatar avatar-120 photo" src="/images/profile_pic.jpg">
    <h5>Khanh Nguyen,</h5>
    <p>A human, walker, full-stack developer and writer. I love sharing ideas by writing and contributing open source on <a href="https://github.com/khanhicetea" target="_blank">Github</a>. My motto : <i>"Everything is trade-off".</i><br />Subscribe and follow with <a href="https://feeds.feedburner.com/khanhicetea" rel="nofollow" target="_blank">RSS</a> | <a href="https://twitter.com/khanhicetea" rel="nofollow" target="_blank"> Twitter </a></p>
</div>